:root {
--D-Primary-main: #51768C;
--D-Secondary-main: #EBF1F2;
--D-Tertiary-main: #D9AB91;
--D-font:"Inter";
--D-font-text: "serif";
--D-text: #101010;
}

p {
    font-family: var(--D-font);
    color: var(--D-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--D-font);
}

.my-button {
    background-color: var(--D-Primary-main);
}